body{
	font-family: 'Dosis', sans-serif;
	font-size: 15px;
}

header{
	display: flex;
	justify-content: space-around;
	align-items: center;	
	align-items: top;	
}
#img{
	border-radius: 10%;
}
header p{
	display: flex;	
	align-items: center;
}

header.metier{
	border-style: solid;
	border-color: black;
}
.competences{
	border-style:solid;
	border-color: rgb(153, 255, 51);
	margin-top: 30px;
	padding: 30px;
}

.competences h2 {
 color: rgb(153, 255, 51);
}
.competences strong{
	align-items: flex-start;
}
.experiences{
	border-style:solid;
	border-color:rgb(51,210,255);
	margin-top: 30px;
	padding: 30px;
}
.experiences, p{
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	padding: 30px;
}
.experiences>h2{
	color: rgb(51,210,255);
}

.formation{
	border-style:solid;
	border-color:rgb(204, 51, 153);
	margin-top: 30px;
	padding: 30px;
}
.formation>h2{
	color: rgb(204, 51, 153);
}
.interet{
	border-style:solid;
	border-color:rgb(255, 153, 0);
	margin-top: 30px;
	padding: 30px;
}
.interet>h2{
	color: rgb(255, 153, 0);
}
.citation{
	background-color:rgba(153, 255, 51,0.4);
	margin-top: 30px;
	padding: 30px;
	height:4cm;
	width: auto;
}

.anecdote{
	border-style:double;
	margin-top: 30px;
	padding: 30px;
}